/* 滚动条样式 */
::-webkit-scrollbar {
    width: 8px;
    height: 8px;
}

::-webkit-scrollbar-track {
    background-color: rgba(73, 177, 245, 0.2);
    border-radius: 2em;
}

::-webkit-scrollbar-thumb {
    background-color: var(--theme-color);
    background-image: -webkit-linear-gradient(45deg,
            rgba(255, 255, 255, 0.4) 25%,
            transparent 25%,
            transparent 50%,
            rgba(255, 255, 255, 0.4) 50%,
            rgba(255, 255, 255, 0.4) 75%,
            transparent 75%,
            transparent);
    border-radius: 2em;
}

::-webkit-scrollbar-corner {
    background-color: transparent;
}

::-moz-selection {
    color: #fff;
    background-color: var(--theme-color);
}

/* 首页头图加载 */
.pl-container {
    width: 100%;
    height: 100%;
    z-index: -2;
    position: fixed;
    overflow: hidden;
    will-change: transform;
    /* 添加性能优化 */
    animation: blur-to-clear 2s cubic-bezier(.62, .21, .25, 1) 0s 1 normal backwards running, scale 1.5s cubic-bezier(.62, .21, .25, 1) 0s 1 both;
}

.pl-img {
    width: 100%;
    height: 100%;
    position: absolute;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    opacity: 0;
    transition: opacity 1s;
}

@keyframes blur-to-clear {
    0% {
        filter: blur(50px);
        opacity: 1;
    }

    100% {
        filter: blur(0);
        opacity: 1;
    }
}

@keyframes scale {
    0% {
        transform: scale(1.5) translateZ(0);
        opacity: 0;
    }

    to {
        transform: scale(1) translateZ(0);
        opacity: 1;
    }
}

.pl-visible {
    opacity: 1;
}

.pl-blur {
    /* 小图锯齿多，增加高斯模糊 */
    filter: blur(50px);
}

/* 页脚透明 */
#footer {
    background: transparent !important;
}

/* 头图透明 */
#page-header {
    background: transparent !important;
}

/* 底部透明 */
#footer-bar {
    background: transparent !important;
}

/* 更多透明 */
#category-bar {
    background: transparent !important;
}

/* 日间模式不生效 */
[data-theme="light"] #site-name,
[data-theme="light"] #site-title,
[data-theme="light"] #site-subtitle,
[data-theme="light"] #post-info {
    animation: none;
}

/* 夜间模式生效 */
[data-theme="dark"] #site-name,
[data-theme="dark"] #site-title {
    animation: light_15px 10s linear infinite;
}

[data-theme="dark"] #site-subtitle {
    animation: light_10px 10s linear infinite;
}

[data-theme="dark"] #post-info {
    animation: light_5px 10s linear infinite;
}

/* 关键帧描述 */
@keyframes light_15px {
    0% {
        text-shadow: #5636ed 0 0 15px;
    }

    12.5% {
        text-shadow: #11ee5e 0 0 15px;
    }

    25% {
        text-shadow: #f14747 0 0 15px;
    }

    37.5% {
        text-shadow: #f1a247 0 0 15px;
    }

    50% {
        text-shadow: #f1ee47 0 0 15px;
    }

    50% {
        text-shadow: #b347f1 0 0 15px;
    }

    62.5% {
        text-shadow: #002afa 0 0 15px;
    }

    75% {
        text-shadow: #ed709b 0 0 15px;
    }

    87.5% {
        text-shadow: #39c5bb 0 0 15px;
    }

    100% {
        text-shadow: #5636ed 0 0 15px;
    }
}

@keyframes light_10px {
    0% {
        text-shadow: #5636ed 0 0 10px;
    }

    12.5% {
        text-shadow: #11ee5e 0 0 10px;
    }

    25% {
        text-shadow: #f14747 0 0 10px;
    }

    37.5% {
        text-shadow: #f1a247 0 0 10px;
    }

    50% {
        text-shadow: #f1ee47 0 0 10px;
    }

    50% {
        text-shadow: #b347f1 0 0 10px;
    }

    62.5% {
        text-shadow: #002afa 0 0 10px;
    }

    75% {
        text-shadow: #ed709b 0 0 10px;
    }

    87.5% {
        text-shadow: #39c5bb 0 0 10px;
    }

    100% {
        text-shadow: #5636ed 0 0 10px;
    }
}

@keyframes light_5px {
    0% {
        text-shadow: #5636ed 0 0 5px;
    }

    12.5% {
        text-shadow: #11ee5e 0 0 5px;
    }

    25% {
        text-shadow: #f14747 0 0 5px;
    }

    37.5% {
        text-shadow: #f1a247 0 0 15px;
    }

    50% {
        text-shadow: #f1ee47 0 0 5px;
    }

    50% {
        text-shadow: #b347f1 0 0 5px;
    }

    62.5% {
        text-shadow: #002afa 0 0 5px;
    }

    75% {
        text-shadow: #ed709b 0 0 5px;
    }

    87.5% {
        text-shadow: #39c5bb 0 0 5px;
    }

    100% {
        text-shadow: #5636ed 0 0 5px;
    }
}

/* 评论区样式 */
.tk-extras {
    padding-bottom: 15px;
    border-bottom: 2px dashed var(--hr-border)
}

.tk-extra {
    border: var(--style-border);
    padding: 4px 6px 4px 6px;
    border-radius: 8px;
    margin-right: 4px !important
}

.tk-expand {
    margin-top: 16px;
    background-color: var(--june-secondbg);
    color: var(--june-fontcolor);
    border-radius: 8px;
    border: var(--style-border);
}

.tk-expand:hover {
    background-color: var(--june) !important;
    color: var(--june-white)
}

.twikoo .el-input__inner,
.twikoo .el-textarea__inner {
    transition: background-position-y 0.3s ease-in-out 0s !important;
}

.twikoo .el-input__inner:focus,
.twikoo .el-textarea__inner:focus {
    background-position-y: 350px;
}

.tk-input .el-textarea__inner {
    -moz-background-size: contain;
    -webkit-background-size: contain;
    -moz-background-size: contain;
    background-size: contain
}

/* 解决鼠标无法选中文字*/
body {
    user-select: text !important;
}


/* 梦佬自用CSS */

/* 隐藏点赞 */
/* 引用链接隐藏外部提示 */
.tk-action .tk-action-link:first-child,
.tag-link-tips {
    display: none !important;
}

/* 手机端搜索栏样式 */
@media screen and (max-width: 768px),
(max-height: 580px) {
    .search-dialog {
        top: 2rem !important;
        left: 5% !important;
        width: 90% !important;
        height: auto !important;
        border-radius: 10px !important;
    }
}

/* 首页文章的标签位置 */
#recent-posts>.recent-post-item>.recent-post-info>.article-meta-wrap {
    bottom: 15px !important;
}

/* 优化关于界面人生图片 */
img.author-content-img.no-lightbox.entered.loaded {
    filter: blur(0) brightness(.8);
}

/* 轮播下面导航栏分类优化 */
#catalog-list,
anzhiyu.barrageContent {
    scrollbar-width: none;
}

/* 优化文章顶部分类和标签显示异常 */
#post-firstinfo .meta-firstline span.post-meta-categories a.post-meta-categories {
    background: rgb(107 107 107 / 50%) !important;
}

#post #post-info #post-firstinfo .meta-firstline .article-meta__tags {
    color: #888 !important;
}

/* 优化手机端文章页面边角露底色 */
@media screen and (max-width: 768px) {
    .post .layout#content-inner {
        background: transparent;
    }
}

/* 代码块的边框显示优化 */
#article-container figure.highlight {
    border: var(--style-border);
}

/* 手机端nav栏 */
#sidebar #sidebar-menus {
    padding-top: 10px !important;
}

/* 擦亮效果 */
#recent-posts>.recent-post-item:not(a)::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 200%;
    background: linear-gradient(to right, transparent, white, transparent);
    transform: translateX(-200%);
    transition: transform 0.5s linear;
    z-index: 1;
}

#recent-posts>.recent-post-item:not(a):hover::before {
    transform: translateX(100%) skewX(-60deg);
}

/* Twikoo*/
/* 评论框背景图优化 */
.twikoo .el-input__inner,
.twikoo .el-textarea__inner {
    transition: background-position-y 0.3s ease-in-out 0s !important;
}

.twikoo .el-input__inner:focus,
.twikoo .el-textarea__inner:focus {
    background-position-y: 350px;
}

.tk-input .el-textarea__inner {
    -moz-background-size: contain;
    -webkit-background-size: contain;
    -moz-background-size: contain;
    background-size: contain
}

/* 评论回复 */
.tk-action-link {
    border-radius: 10px;
    padding: 5px 10px 5px 10px;
    border: var(--style-border);
}

.tk-action-link:hover {
    background: var(--anzhiyu-theme);
    color: #fff;
}

/* 评论后台优化 */
#body-wrap.page .el-input__inner {
    background: #ffffff0f;
}

[data-theme=dark] details>summary {
    background: none !important;
}


/* 鼠标样式 */
#aside-content .card-widget .card-info-social-icons,#bber>section>ul>li>div .bber-info-from,#bber>section>ul>li>div .bber-info-time,html {
    cursor: url(https://cdn.npmmirror.com/packages/pixpro/1.7.6/files/static/images/alternate.png) 16 16,auto!important
}

#article-container .highlight-tools .copy-button,#aside-content .aside-list>.aside-list-item,#aside-content .card-info #author-info__sayhi,#aside-content .card-widget#card-wechat,#recent-posts .recent-post-item,#recent-posts>.recent-post-item>.recent-post-info,#rightMenu .rightMenu-group .rightMenu-item,#twikoo .tk-comments .OwO .OwO-body,.OwO .OwO-body .OwO-bar .OwO-packages li,.OwO .OwO-body .OwO-items .OwO-item,.article-categories-original,.bber-reply,.card-author,.card-title,.category-bar-next,.code-expand-btn,.comment-barrage-item .barrageContent,.el-input__inner,.modal-article-date,.nav-button,.pagination span,.reward-button,.share-link .share-button,.title,.tk-avatar-img,.tk-comments-title span,.tk-expand,.tk-submit-action-icon,.topGroup .banner-button,.topGroup .recent-post-item,a,a span,button,i.bber-logo,img,input,summary {
    cursor: url(https://cdn.npmmirror.com/packages/pixpro/1.7.6/files/static/images/link.png) 16 16,pointer!important
}

#toPageText,.local-search-box--input,h2,label,p,span,textarea,time {
    cursor: url(https://cdn.npmmirror.com/packages/pixpro/1.7.6/files/static/images/text.png) 16 16,text!important
}


/*个人资料背景*/
.card-widget.card-info {
    background: url(https://i.p-i.vip/47/20240920-66ed7b168c38c.jpg) center/cover no-repeat!important;
}

#aside-content >.card-widget.card-info::before {
    background-image: linear-gradient(-25deg, hsl(204deg 100% 50% / 45%), hsl(36.71deg 100% 50% / 45%), hsl(204deg 100% 50% / 45%), hsl(36.71deg 100% 50% / 45%));
    backdrop-filter: blur(5px);
}
